<FederatedDatabases>
  <FederatedDatabase name="bitcoin"
                     bootFile="../data/bitcoin.boot"
                     autoRecover="true"
                     diskFormat="NoDiskFormat"
                     noLock="false"/> 
</FederatedDatabases>
<GlobalSettings numFiles="12"
                amsUsage="AmsPreferred"
                installSignalHandler="true"
                detectLeakedTransactions="false">

   <DefaultSessionPool softLimit="10"
                       hardLimit="20"
                       sessionWait="-1">
      <Session sharedCache="true"
               initialSmallObjectPageSpace="200"
               maximumSmallObjectPageSpace="500"
               initialNumberOfLargeObjectEntries="200"
               maximumNumberOfLargeObjectEntries="500"
               largeObjectMemoryLimit="0"
               defaultMrowMode="NoMROW"
               containerLockWaitPolicy="NoWait"
               containerLockWaitSeconds="10"
               hotMode="false"
               connectRetries="2"
               serverTimeout="25"
               maximumOpenObjects="200"
               defaultDowngradeMode="NoDowngrade"
               enableLockConflictInformation="false"
               defaultHandleMode="HandleToNull"
               defaultIndexMode="Insensitive"/>
   </DefaultSessionPool>

	 <Logging logAll="true"
            logMain="true"
            logSession="true"
            logTransactionStatistics="true"
            logTransactionTiming="true"
            logOther="true"
            appendLogs="true"
            logDirectory="/mylogs"
            mainLogFileName="mylog.log"/>

</GlobalSettings>

<SessionPools>
  <SessionPool name="sample"
               purposes="ingest,query"
               softLimit="10"
               hardLimit="20"
               sessionWait="-1">
      <Session sharedCache="true"
               initialSmallObjectPageSpace="200"
               maximumSmallObjectPageSpace="500"
               initialNumberOfLargeObjectEntries="200"
               maximumNumberOfLargeObjectEntries="500"
               largeObjectMemoryLimit="0"
               defaultMrowMode="NoMROW"
               containerLockWaitPolicy="NoWait"
               containerLockWaitSeconds="10"
               hotMode="false"
               connectRetries="2"
               serverTimeout="25"
               maximumOpenObjects="200"
               defaultDowngradeMode="NoDowngrade"
               enableLockConflictInformation="false"
               defaultHandleMode="HandleToNull"
               defaultIndexMode="Insensitive"/>
   </SessionPool>
</sessionPools>
